@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  color: #333333;
}

a {
  text-decoration: initial;
  color: inherit;
}

*{
  box-sizing: border-box;
}

/* ==================== HEADER ==================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 90px;
  background-color: #CF2B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
  font-family: 'Righteous', cursive;
  font-size: 44px;
  color: white;
  margin-left: 20px;
}

header h3{
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-left: 20px;
}

/* ==================== CONTAINER ==================== */

.container{
  width: 100%;
  margin: 120px auto 100px auto;
}

h2{
  font-family: 'Righteous', cursive;
  font-size: 26px;
  margin-left: 20px;
}

.container > div {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 20px 0 20px 20px;
}


.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
  height: 215px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px 15px 10px 15px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
  position: relative;
}

.item:hover{
  cursor: pointer;
}

.click{
  border: 5px solid #32B72F;
  padding: 15px 10px 5px 10px;
}

img{
  width: 145px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.item > div{
  width: 145px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.item h3{
  font-size: 16px;
  font-weight: bold;
  width: 145px;
}

p{
  font-size: 15px;
  font-weight: 300;
  color: #a6a6a6;
  margin: 10px 0;
}

h4{
  color: black;
  font-size: 16px;
  font-weight: 400;
}

ion-icon{
  font-size: 20px;
  position: absolute;
  color: #32B72F;
  bottom: 10px;
  right: 10px;
  display: none;
}

.check{
  display: initial;
}

/* ==================== FINAL-BOX ==================== */

.hide-page{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
}


.final-box{
  width: 350px;
  height: 400px;
  color: white;
  background-color: #50D074;
  border-radius: 9px;
  position: fixed;
  left: calc(50% - 175px);
  top: calc(50% - 200px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.final-box-show{
  display: flex;
}

.final-box > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.final-box h3{
  font-size: 22px;
  font-weight: 700;
}

.final-box p{
  color: white;
  font-size: 22px;
  font-size: 400;
}

.final-box button{
  font-size: 22px;
  font-weight: 700;
  width: 300px;
  height: 50px;
  background-color: white;
  color: #50D074;
  border: none;
  border-radius: 50px;
}

.final-box button:hover{
  cursor: pointer;
}

.final-box h4{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.final-box h4:hover{
  cursor: pointer;
}

/* ==================== NOVO PEDIDO ==================== */

.order-sent{
  width: 350px;
  height: 300px;
  color: white;
  background-color: #50D074;
  border-radius: 9px;
  position: fixed;
  left: calc(50% - 175px);
  top: calc(50% - 100px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.order-sent-show{
  display: flex;
}

.order-sent h3{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.order-sent p{
  text-align: center;
  color: white;
  font-size: 22px;
  font-size: 400;
}

.order-sent button{
  font-size: 22px;
  font-weight: 700;
  width: 300px;
  height: 50px;
  background-color: white;
  color: #50D074;
  border: none;
  border-radius: 50px;
}

.order-sent button:hover{
  cursor: pointer;
}

/* ==================== FOOTER ==================== */

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-ready{
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 60px;
  margin: 15px 20px;
  background-color: #CBCBCB;
  color: white;
  border: none;
  border-radius: 50px;
  display: none;
} 

.ready{
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 60px;
  margin: 15px 20px;
  background-color: #32B72F;
  color: white;
  border: none;
  border-radius: 50px;
  display: none;
} 

.ready:hover{
  cursor: pointer;
}

.show{
  display: initial;
}

@media (min-width: 780px){

body{
  width: 780px;
  margin: auto;
}

h1{
  margin-left: calc(50% - 370px);
}

header h3{
  margin-left: calc(50% - 370px);
}

}